@import "../../styles/dependencies";

// Search form styles

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  input {
    background-color: #000;
    border: 0;
    color: #ccc;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px;
    width: 100%;

    @include hover {
      outline: none;
    }
  }
}
