{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 150,
  "useTabs": false,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "insertPragma": false,
  "singleAttributePerLine": true,
  "bracketSameLine": false
}
