// Footer Styles
@import "../../styles/variables";

.footer {
  align-items: center;
  background: $black;
  padding: 20px;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: center;

    p {
      margin: 0;
    }

    & > div {
      flex: 1;

      &:last-child {
        text-align: right;
      }
    }
  }
}
