// Footer Styles
@import "../../styles/variables";

.footer {
  align-items: center;
  background: $black;
  display: flex;
  justify-content: center;
  height: 76px;
  width: 100%;

  p {
    color: $white;
  }
}
