// Footer Styles
@import "../../styles/dependencies";

.footer {
  align-items: center;
  background: $black;
  padding: 15px;
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 5px 0;
    }

    & > div {
      flex: 1;
      margin: 5px 0;
      text-align: center;

      &:last-child {
        margin: 0;
      }
    }

    @include breakpoint($medium) {
      flex-direction: row;

      & > div {
        flex: 1;

        &:last-child {
          text-align: right;
        }
        &:first-child {
          text-align: left;
        }
      }
    }
  }
}
