@import "../../styles/dependencies";

// Button styles
.button {
  align-items: center;
  background-position: center;
  border: 0;
  border-radius: 0 10px 0 10px;
  box-shadow: none;
  color: $primary-color;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: normal;
  font-family: Gothic, Arial, sans-serif;
  justify-content: center;
  line-height: 24px;
  padding: 4px 14px;
  position: relative;
  text-decoration: none;
  transition: background-color ease 0.3s;
  white-space: nowrap;

  @include hover {
    transition: background-color ease 0.3s, color ease 0.3s;
  }

  &:before {
    display: none;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__start-icon,
  &__end-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    svg {
      font-size: 2rem;
    }
  }

  &__start-icon {
    margin-left: -8px;
  }

  &__end-icon {
    margin-right: -8px;
  }

  .loader {
    margin-right: 8px;
  }

  // Filled variants
  &--filled {
    &.button--small {
      font-size: 14px;
      line-height: 20px;
      padding: 10px 16px;
    }

    @mixin filledColorVariant($color, $background, $hover, $transparency) {
      background: $background;

      @include hover {
        background: $hover radial-gradient(circle, transparent 1%, $hover 1%) center/15000%;
        color: $color;
      }

      &:active {
        background-color: lighten($hover, $transparency);
        background-size: 100%;
        transition: background 0s;
      }
    }

    &.button--default {
      @include filledColorVariant($white, $primary-color, $purple, 5%);
      color: $black;
    }

    &.button--blue {
      @include filledColorVariant($white, $blue, $purple, 5%);
      color: $white;
    }

    &.button--orange {
      @include filledColorVariant($white, $orange, $purple, 5%);
      color: $white;
    }

    &.button--pink {
      @include filledColorVariant($white, $pink, $purple, 5%);
      color: $white;
    }

    &.button--red {
      @include filledColorVariant($white, $red, $black, 5%);
      color: $white;
    }

    &.button--lavender {
      @include filledColorVariant($white, $lavender, $black, 5%);
      color: $black;
    }

    &.button--lilac {
      @include filledColorVariant($white, $lilac, $black, 5%);
      color: $black;
    }

    &.button--purple {
      @include filledColorVariant($black, $purple, $anakiwa, 5%);
      color: $white;

      svg,
      svg.MuiSvgIcon-root {
        fill: $white;
      }
    }

    &.button--transparent {
      @include filledColorVariant($white, transparent, $pink, 5%);
    }

    &:disabled:not(.button--loading) {
      background: lighten($black, 95%);
      color: lighten($black, 30%);
    }
  }

  // Outlined variants
  &--outlined {
    background: none;
    border-style: solid;
    border-width: 2px;

    // Size variants
    &.button--small {
      border-width: 2px;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 16px;
    }

    @mixin outlinedColorVariant($color, $background, $fill, $transparency) {
      border-color: $background;

      .button__start-icon,
      .button__end-icon {
        svg,
        svg.MuiSvgIcon-root {
          fill: $background;
        }
      }

      @include hover {
        background: $background radial-gradient(circle, transparent 1%, $background 1%) center/15000%;
        border-color: $background;
        color: $color;

        .button__start-icon,
        .button__end-icon {
          svg,
          svg.MuiSvgIcon-root {
            fill: $fill;
          }
        }
      }

      &:active {
        background-color: lighten($background, $transparency);
        background-size: 100%;
        transition: background 0s;
      }
    }

    &.button--default {
      @include outlinedColorVariant($black, $primary-color, $purple, 5%);
    }

    &.button--blue {
      @include outlinedColorVariant($white, $blue, $purple, 5%);
    }

    &.button--orange {
      @include outlinedColorVariant($white, $orange, $purple, 5%);
    }

    &.button--pink {
      @include outlinedColorVariant($white, $pink, $purple, 5%);
    }
    &.button--red {
      @include outlinedColorVariant($white, $red, $black, 5%);
    }

    &.button--purple {
      @include outlinedColorVariant($white, $purple, $anakiwa, 5%);
    }

    &.button--lavender {
      @include outlinedColorVariant($white, $lavender, $anakiwa, 5%);
    }

    &:disabled {
      background: lighten($black, 95%);
      border-color: lighten($black, 75%);
      color: lighten($black, 30%);

      svg,
      svg.MuiSvgIcon-root {
        fill: lighten($black, 30%);
      }
    }
  }

  // Variants
  &--icon-button {
    svg {
      margin-right: 10px;
    }
  }

  &--icon {
    background: none;
    padding: 0;

    .button__content {
      align-items: center;
      display: flex;
    }

    &.button--default {
      svg {
        fill: $primary-color;
      }

      @include hover {
        svg {
          fill: $lilac;
        }
      }
    }
    &.button--red {
      svg {
        fill: $red;
      }

      @include hover {
        svg {
          fill: $red;
        }
      }
    }
  }

  &--heading {
    background: none;
    color: inherit;
    font-size: inherit;
    padding: 0;

    .button__content {
      align-items: center;
      display: flex;

      svg {
        margin-left: 10px;
      }
    }
  }

  &--link {
    background: none;
    padding: 0;

    .button__content {
      @extend .hover-state;
    }
  }

  &--icon-start {
    background: none;
    border-style: solid;
    border-width: 2px;
    padding: 10px;

    span {
      display: flex;
    }
  }

  &--null {
    background: none;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
  }

  &--plain {
    background: none;
    padding: 0;
    overflow: hidden;
  }

  &--imdb {
    background: $imdb;
    border-radius: 5px;
    border: 1px solid $imdb;
    font-size: 15px;
    padding: 3px 7px 0px;
    line-height: 18px;

    span {
      font-weight: bold;
      color: $black;
    }

    @include hover {
      background: $black;

      span {
        font-weight: bold;
        color: $imdb;
      }
    }
  }
}
