@import "../../styles/dependencies";

// Voice Input styles
.voice-input {
  &__modal {
    text-align: center;

    svg {
      animation: pulse 2s infinite;
      fill: $primary-color;
      font-size: 100px;
      padding: 10px;
    }
  }
}
