@import "../../styles/dependencies";

// Auto Suggest Options styles
.suggestions {
  &__list {
    background: $grey;
    border-radius: 0 0 10px;
    border: 1px solid $mid-grey;
    border-top: 0;
    left: 50%;
    list-style: none;
    max-width: 700px;
    padding: 10px 10px 0;
    position: absolute;
    top: 80px;
    transform: translateX(-50%);
    width: 90%;
    z-index: 2000;

    @include breakpoint($medium) {
      top: 62px;
      width: 100%;
    }
  }

  &__list-item {
    align-items: center;
    border-top: 1px solid $primary-color;
    cursor: pointer;
    display: flex;
    padding: 10px 0;
    transition: background 0.2s ease, color 0.2s ease;

    &:first-child {
      border-top: 0;
    }

    .image,
    .suggestions__media-icon {
      display: none;

      @include breakpoint($xlarge) {
        display: block;
      }
    }

    p {
      color: $primary-color;
      padding: 0;
      margin: 0;
    }

    @include hover {
      background: rgba($color: $black, $alpha: 0.5);
      color: $black;
    }
  }

  &__content {
    @include breakpoint($xlarge) {
      margin-left: 20px;
    }
  }

  &__list-item-year {
    font-size: 12px;
  }

  &__media-icon {
    margin-left: auto;

    svg {
      color: $primary-color;
    }
  }
}
