@import "../../styles/dependencies";

// Latest releases styles
.latest-releases {
  position: relative;
  margin-bottom: 40px;

  &__header {
    display: flex;
    margin-bottom: 20px;
    width: 100%;

    .button {
      margin-left: auto;
      font-size: 24px;
      color: $primary-color;
    }

    @include breakpoint($xlarge) {
      .MuiTypography-h2 {
        padding: 0;
      }
    }
  }

  &__link-text {
    display: none;

    @include breakpoint($medium) {
      display: flex;
    }
  }

  &__header-title {
    color: $primary-color;
    font-size: 24px;
    margin-bottom: 0;
    padding-left: 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }

  &__list-item {
    margin: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__loader {
    padding: 100px;
    display: flex;
    justify-content: center;
  }
}
