@import "../../styles/dependencies";

// Latest releases styles

.latest-releases {
  position: relative;
  margin-bottom: 40px;

  &__header {
    display: flex;
    margin-bottom: 10px;

    .button {
      margin-left: auto;
    }
  }

  &__header-title {
    border-left: 5px solid $anakiwa;
    padding-left: 10px;
    color: $anakiwa;
    font-size: 24px;
    margin-bottom: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }

  &__list-item {
    margin: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__loader {
    padding: 100px;
    display: flex;
    justify-content: center;
  }
}
