// Latest releases styles

.latest-releases {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }

  &__list-item {
    margin: 10px;
  }

  &__loader {
    padding: 100px;
    display: flex;
    justify-content: center;
  }
}
