@import "../../styles/dependencies";

// List styles

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  .panel {
    background: rgba($color: $primary-color, $alpha: 0.2);
    border-radius: 0 20px;
    margin-bottom: 10px;
    padding: 10px;

    &__image {
      border-radius: 0 20px;
      overflow: hidden;
      max-width: 100%;
      margin-bottom: 20px;
    }

    &__actions {
      display: flex;
      margin-left: auto;
      justify-content: center;

      svg {
        font-size: 50px;
      }
    }

    @include breakpoint($medium) {
      display: flex;

      &__image {
        max-width: 100px;
        margin-right: 20px;
        margin-bottom: 0;
      }

      &__actions {
        display: flex;
        margin-left: auto;

        svg {
          font-size: 50px;
        }
      }
    }
  }
}
