@import "../../styles/dependencies";

// List styles

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin-bottom: 10px;
    color: $primary-color;
  }

  // Variant
  &--link {
    margin-top: 20px;

    .list {
      &__item {
        margin-bottom: 20px;
      }
    }
  }

  &--list-panel {
    .list {
      &__item {
        background: rgba($color: $primary-color, $alpha: 0.2);
        border-radius: 0 20px;
        margin-bottom: 20px;
        padding: 10px;
      }

      &__item-image {
        border-radius: 0 20px;
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 20px;
      }

      &__item-actions {
        display: flex;
        margin-left: auto;
        justify-content: center;

        svg {
          font-size: 50px;
        }
      }

      @include breakpoint($medium) {
        &__item {
          display: flex;
        }

        &__item-image {
          max-width: 100px;
          margin-right: 20px;
          margin-bottom: 0;
        }

        &__item-actions {
          display: flex;
          margin-left: auto;

          svg {
            font-size: 50px;
          }
        }
      }
    }
  }
}
