@import "../../styles/dependencies";

// List styles

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin-bottom: 10px;
    color: $primary-color;
  }

  // Variant
  &--link {
    margin-top: 20px;

    .list {
      &__item {
        margin-bottom: 20px;
      }
    }
  }
}
