@import "../../styles/dependencies";

// Error styles

.error {
  background-color: $red;
  border: 1px solid $primary-color;
  border-radius: 0 10px;
  color: $white;
  margin: 20px 0;
  padding: 10px;

  p {
    margin: 0;
  }
}
