@import "../../styles/dependencies";

// Details View Styles

.details-view {
  // Important rules to override inline styling
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  padding: 10px 0 20px;

  @include breakpoint($medium) {
    min-height: calc(100vh - 145px);
  }

  &__inner {
    border-radius: 0 50px 0 0;
    margin-bottom: 30px;

    @include breakpoint($xxlarge) {
      padding: 0 200px;
    }

    @include breakpoint($xxxxlarge) {
      padding: 0 150px;
    }
  }

  &__video {
    border-radius: 0 50px 0 0;
    overflow: hidden;

    & ~ div {
      border-radius: 0 0 0 50px;
    }
  }

  &__poster {
    border-radius: 0 50px 0 0;
    background: $background-opacity-color;
    display: flex;
    justify-content: center;
    padding: 20px;

    & ~ div {
      border-radius: 0 0 0 50px;
    }

    .image {
      border: 1px solid $whispering-mist;
      border-radius: 0 30px;
      cursor: pointer;
      max-width: 300px;
    }
  }

  &__content {
    background: $background-opacity-color;
    border-radius: 0 50px 0 50px;
    overflow: hidden;
    padding: 20px;
    position: relative;
  }

  &__info {
    margin-bottom: 16px;
  }

  &__title-wrapper {
    align-items: center;
    display: flex;
  }

  &__title {
    align-items: baseline;
    display: flex;
    margin-bottom: 0;
    margin-right: 10px;
  }

  &__title-details {
    align-items: baseline;
    display: block;
    margin-bottom: 16px;

    @include breakpoint($xsmall) {
      display: flex;
    }
  }

  &__imdb-rating-score {
    font-weight: bold;
    font-size: 20px;

    & > span {
      font-size: 18px;
    }
  }

  &__genres {
    margin-bottom: 16px;
  }

  &__genre-tag {
    span {
      color: $primary-color;
      margin: 0 10px;
    }
    &:last-child {
      span {
        display: none;
      }
    }
  }

  &__seasons {
    margin-bottom: 20px;
  }

  &__network-list {
    background: rgba($color: $white, $alpha: 0.5);
    border-radius: 0 30px;
    justify-content: center;
    margin: 0;
    padding: 10px;

    li {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-right: 10px;
    }
  }

  &__network-image {
    border-radius: 0 10px;
    cursor: pointer;
    max-height: 60px;
    max-width: 100px;
    padding: 5px;
    transition: background 0.3s ease;

    @include hover {
      background: $black;
    }
  }

  &__profile {
    > div {
      width: 100%;
    }

    .image {
      cursor: pointer;
    }

    @include breakpoint($medium) {
      display: flex;
    }
  }

  &__profile-image {
    margin-bottom: 30px;

    @include breakpoint($medium) {
      max-width: 300px;
      margin-bottom: 0;
      margin-right: 20px;
    }

    img {
      border-radius: 0 30px;
    }
  }

  &__back-button {
    margin-bottom: 10px;
  }

  &__actions {
    display: flex;
    margin-left: auto;

    .add-to-favorites {
      margin-left: 10px;
    }
  }

  &__review {
    background: $black;
    border-radius: 0 20px;
    border: 1px solid rgba($color: $primary-color, $alpha: 0.5);
  }

  &__review-header {
    display: flex;
    margin-bottom: 10px;
    align-items: center;

    h2 {
      align-items: center;
      display: flex;
      font-size: 18px;
      margin: 0;
    }

    .image {
      margin-right: 10px;
    }
  }

  ul {
    display: flex;
    list-style: none;
  }

  // Variants
  &--person {
    .details-view {
      &__profile-details {
        position: relative;
      }

      &__title-wrapper {
        margin-bottom: 0;
        position: absolute;
        right: 0;
        top: -10px;
      }
    }
  }
}
