@import "../../styles/dependencies";

// Details View Styles

.details-view {
  // Important rules to override inline styling
  background-position: center !important;
  background-size: cover !important;
  padding: 20px 0;

  @include breakpoint($medium) {
    min-height: calc(100vh - 145px);
  }

  &__inner {
    border-radius: 0 50px 0 0;
    margin-bottom: 50px;

    @include breakpoint($xxlarge) {
      padding: 0 200px;
    }

    @include breakpoint($xxxxlarge) {
      padding: 0 150px;
    }
  }

  &__video {
    border-radius: 0 50px 0 0;
    overflow: hidden;

    & ~ div {
      border-radius: 0 0 0 50px;
    }
  }

  &__content {
    background: $background-opacity-color;
    border-radius: 0 50px 0 50px;
    overflow: hidden;
    padding: 20px;
    position: relative;
  }

  &__title {
    display: flex;
    align-items: center;

    span {
      font-size: 20px;
      color: #7f7f7f;
      margin-left: 20px;
    }
  }

  &__profile {
    @include breakpoint($medium) {
      display: flex;
    }
  }

  &__profile-image {
    margin-bottom: 30px;

    @include breakpoint($medium) {
      max-width: 300px;
      margin-bottom: 0;
      margin-right: 20px;
    }

    img {
      border-radius: 0 30px;
    }
  }

  &__back-button {
    bottom: 20px;
    position: absolute;
    right: 20px;
  }
  .add-to-favorites {
    margin-left: auto;
  }

  ul {
    display: flex;
    list-style: none;
  }

  .genre-tag {
    span {
      margin: 0 10px;
    }
    &:last-child {
      span {
        display: none;
      }
    }
  }
}
