@import "../../styles/dependencies";

// Details View Styles

.details-view {
  background-position: center !important;
  background-size: cover !important;
  display: flex;
  height: calc(100vh - 144px);
  justify-content: center;
  padding: 10px;

  &__content {
    background: rgba($color: #000000, $alpha: 0.5);
    padding: 20px;
  }

  &__back-button {
    display: flex;
    justify-content: flex-end;
  }

  ul {
    display: flex;
    list-style: none;
  }

  .genre-tag {
    span {
      margin: 0 10px;
    }
    &:last-child {
      span {
        display: none;
      }
    }
  }
}
