@import "../../styles/dependencies";

// Details View Styles

.details-view {
  // Important rules to override inline styling
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  padding: 10px 0 20px;

  @include breakpoint($medium) {
    min-height: calc(100vh - 145px);
  }

  &__inner {
    border-radius: 0 50px 0 0;
    margin-bottom: 30px;

    @include breakpoint($xxlarge) {
      padding: 0 200px;
    }

    @include breakpoint($xxxxlarge) {
      padding: 0 150px;
    }
  }

  &__video {
    border-radius: 0 50px 0 0;
    overflow: hidden;

    & ~ div {
      border-radius: 0 0 0 50px;
    }
  }

  &__poster {
    border-radius: 0 50px 0 0;
    background: $background-opacity-color;
    display: flex;
    justify-content: center;
    padding: 20px;

    & ~ div {
      border-radius: 0 0 0 50px;
    }

    .image {
      border: 1px solid $whispering-mist;
      border-radius: 0 30px;
      cursor: pointer;
      max-width: 300px;
    }
  }

  &__content {
    background: $background-opacity-color;
    border-radius: 0 50px 0 50px;
    overflow: hidden;
    padding: 20px;
    position: relative;
  }

  &__title-wrapper {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }

  &__title {
    align-items: center;
    display: flex;
    margin-bottom: 0;
  }

  &__label {
    span {
      color: $whispering-mist;
    }
  }

  &__genres {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
  }

  &__genre-tag {
    span {
      color: $primary-color;
      margin: 0 10px;
    }
    &:last-child {
      span {
        display: none;
      }
    }
  }

  &__network-image {
    background-color: rgba($color: $white, $alpha: 0.8);
    border-radius: 0 10px;
    padding: 5px;
    width: 100px;
  }

  &__network-list li {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  &__seasons {
    margin-bottom: 20px;
  }

  &__profile {
    > div {
      width: 100%;
    }

    .image {
      cursor: pointer;
    }

    @include breakpoint($medium) {
      display: flex;
    }
  }

  &__profile-image {
    margin-bottom: 30px;

    @include breakpoint($medium) {
      max-width: 300px;
      margin-bottom: 0;
      margin-right: 20px;
    }

    img {
      border-radius: 0 30px;
    }
  }

  &__actions {
    display: flex;
    margin-left: auto;

    .add-to-favorites {
      margin-left: 10px;
    }
  }

  &__reviews-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.grid--content .column--wrapper {
  display: column;
  columns: 5;
  gap: 20;
  break-inside: avoid;
}
.post--item {
  border-radius: 0 20px;
  break-inside: avoid;
  border: 1px solid $primary-border-color;
  margin: 15px 0px;
  padding: 10px;

  &:first-of-type {
    margin-top: 0;
  }
}

.post--masonry {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.grid--content .column--wrapper .post--item img {
  box-shadow: 0 0 3px 2px #00000021;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.grid--content .post--title {
  font-weight: bold;
  color: #1d2327;
}

.grid--content .post-user {
  margin: 10px 0;
}

.grid--content .post-user a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.grid--content .post-user img {
  border-radius: 100% !important;
  max-width: 35px;
  max-height: 35px;
  margin: 0;
  margin-bottom: 0 !important;
}

.grid--content .post-user span {
  margin-left: 10px;
  color: #949494;
  font-size: 14px;
}

.grid--content .post-user a:hover {
  background-color: #f0f0f0;
  border-radius: 50px;
}
.grid--content {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 30px 10px #00000017;
}
