@import "../../styles/dependencies";

// Select styles
.select {
  border: 1px solid $mid-grey;
  border-radius: 5px;

  .select {
    &__control {
      background-color: $grey;
      box-shadow: none;
      border: 0;
      cursor: pointer;
      min-height: 50px;
    }

    &__input {
      color: $primary-color;
    }

    &__indicators {
      @include breakpoint($xlarge) {
        min-height: 41px;
      }

      svg {
        fill: $primary-color;
      }
    }

    &__indicator {
      padding: 8px 5px;
    }

    &__label {
      color: $primary-color;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 5px;
    }

    &__placeholder {
      color: $primary-color;
    }

    &__multi-value,
    &__single-value {
      color: $primary-color;
      font-size: 16px;
    }

    &__multi-value {
      background: transparent;
      border: 1px solid $primary-color;
      border-radius: 3px;

      &__label {
        color: $primary-color;
      }

      &__remove {
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 0 2px 2px 0;

        @include hover {
          background-color: $primary-color;
          color: $black;
        }
      }
    }

    &__value-container {
      padding: 0 10px;
    }

    &__menu {
      background-color: $grey;
      box-shadow: none;
      overflow: hidden;
      margin: 0;
    }

    &__menu-list {
      padding: 0;
    }

    &__menu-notice {
      color: $primary-color;
    }

    &__indicator-separator {
      display: none;
    }

    &__option {
      cursor: pointer;
      color: $primary-color;
      font-size: 16px;
      line-height: 24px;
      padding: 10px;

      &--is-focused {
        background-color: $grey;
        color: $white;
      }

      &--is-selected {
        background-color: $mid-grey;
      }
    }
  }

  &--is-disabled {
    opacity: 0.5;
  }
}
