@import "../../styles/dependencies";

// Select styles
.select {
  .select {
    &__control {
      background-color: $grey;
      box-shadow: none;
      border: 0;
      cursor: pointer;
      min-width: 100px;

      @include breakpoint($xlarge) {
        min-height: 41px;
      }
    }

    &__input {
      color: $primary-color;
    }

    &__indicator {
      padding: 0 10px 0 0;

      svg {
        fill: $primary-color;
      }
    }
  }

  &__label {
    color: $primary-color;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .select__placeholder {
    color: $primary-color;
  }

  .select__single-value {
    color: $primary-color;
  }

  .select__menu {
    background-color: $grey;
    box-shadow: none;
    overflow: hidden;
    margin: 0;
  }

  .select__menu-list {
    padding: 0;
  }

  .select__menu-notice {
    color: $primary-color;
  }

  .select__indicator-separator {
    display: none;
  }

  .select__option {
    cursor: pointer;
    color: $primary-color;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;

    &--is-focused {
      background-color: $grey;
      color: $white;
    }

    &--is-selected {
      background-color: $mid-grey;
    }
  }

  &--is-disabled {
    opacity: 0.5;
  }
}
