@import "../../styles/dependencies";

// Search Results styles
.search-results {
  margin-top: 40px;

  &__no-results {
    text-align: center;
    margin: 60px 0;
  }

  &__header {
    background-color: rgba($color: $black, $alpha: 0.2);
    border-radius: 0 20px;
    padding: 20px;
  }

  &__no-results-title,
  &__header span {
    color: $primary-color;
  }
}
