@import "../../styles/dependencies";

// Card styles

.card {
  background-color: $black;
  border-radius: 0 20px;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;

  &__wrapper {
    background: none;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    pointer-events: none;
    width: 100%;

    @include hover {
      .card__content {
        opacity: 1;
      }
    }
  }

  &__overlay {
    width: 100%;
  }

  &__content-button {
    bottom: 0px;
    opacity: 0;
    position: absolute;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    width: calc(100% - 20px);

    .button {
      width: 100%;
    }
  }

  &__content {
    align-items: center;
    background: rgba($black, 0.7);
    border: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    transition: opacity 0.5s ease;
    top: 0;
    width: 100%;
  }

  &__cover {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: background 0.5s ease;
    width: 100%;
    z-index: 1;

    @include hover {
      + .card__wrapper {
        .card__content {
          opacity: 1;
        }
      }
    }
  }

  &__title {
    color: $white;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;

    @include breakpoint($small) {
      font-size: 18px;
      line-height: 24px;
    }

    &--no-image {
      bottom: 50px;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }

  &__info {
    color: $light-grey;
    font-size: 14px;
    margin: 0 0 10px;
  }

  .button--icon {
    background-color: rgba($color: $black, $alpha: 0.2);
    border-radius: 50%;
    left: 5px;
    padding: 5px;
    position: absolute;
    top: 5px;
  }

  // Variants
  &--banner {
    border-radius: 0;
  }

  &--resource {
    box-shadow: rgba($black, 0.4) 10px 10px 5px 0px;
  }

  &--person {
    padding-bottom: 50px;

    @include breakpoint($medium) {
      padding-bottom: 50px;
    }

    .card {
      &__cover {
        @include hover {
          background: rgba($black, 0.6);

          + .card__wrapper {
            .image {
              scale: 1.2;
            }
          }
        }
      }

      &__content {
        background: $black;
        opacity: 1;
        padding: 0 5px 10px 5px;
        top: auto;
        z-index: 1;

        &:before {
          background: linear-gradient(0deg, $black 0%, rgba($black, 0) 100%);
          content: "";
          height: 50px;
          position: absolute;
          top: -50px;
          width: 100%;
        }
      }
    }
  }
}
