@import "../../styles/dependencies";

// Tile styles
.tile {
  background: rgba($color: $black, $alpha: 0.2);
  border-radius: 0 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px 20px;

  &__image {
    border-radius: 0 20px;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }

  &__header {
    margin-bottom: 16px;
  }

  &__title {
    margin: 0;
  }

  &__popularity {
    margin: 0;
    font-size: 14px;
    color: red;
  }

  &__content {
    .overview {
      margin-bottom: 16px;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 70px;

    svg {
      font-size: 50px;
    }
  }

  @include breakpoint($small) {
    flex-direction: row;

    &__item {
      display: flex;
    }

    &__image {
      max-width: 100px;
      margin-right: 20px;
      margin-bottom: 0;
    }

    &__actions {
      display: flex;
      margin-left: auto;
      min-width: 100px;

      svg {
        font-size: 50px;
      }
    }
  }
}
