@import "../../styles/dependencies";

// Navigation styles

.navigation {
  &__inner {
    padding: 20px;
  }

  &__action-close {
    display: flex;
    justify-content: end;
  }

  &__action-login {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  &__list {
    list-style: none;
    padding: 40px 0;
  }

  &__list-item {
    margin-bottom: 20px;
  }

  .MuiPaper-elevation {
    border-left: 1px solid rgba($color: $primary-color, $alpha: 0.5);
  }
}
