@import "../../styles/dependencies";

// Banner carousel styles
.banner-carousel {
  background: $black;
  position: relative;

  &:after {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, $black 0%, rgba($black, 0) 100%);
    bottom: -300px;
    content: "";
    height: 300px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &__inner {
    max-width: 700px;
    margin: 0 20px 50px;

    @include breakpoint($medium) {
      margin: 0 auto 50px;
    }

    @include breakpoint($xxxxlarge) {
      margin: 0 auto 80px;
      max-width: 900px;
    }
  }

  .slick-slide {
    margin: 0;
  }

  .slick-next {
    right: -70px;
  }

  .slick-prev {
    left: -70px;
  }

  .slick-track {
    background: $black;

    @include breakpoint($medium) {
      padding-bottom: 40px;
    }
  }
}
