@import "../../styles/dependencies";

// Modal styles
.modal {
  .MuiModal-backdrop {
    background: rgba($black, 0.6);
  }

  &__body {
    padding: 40px 16px;

    @include breakpoint($medium) {
      padding: 32px;
    }

    img {
      width: 100%;
    }
  }

  &__inner {
    background-color: $grey;
    border-radius: 0 20px;
    color: $white;
    left: 50%;
    max-height: 700px;
    max-width: calc(100% - 32px);
    overflow-y: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include breakpoint($medium) {
      max-height: 900px;
      max-width: 744px;
    }
  }

  &__close {
    background: $primary-color;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;

    svg.MuiSvgIcon-root {
      fill: $black;
    }

    @include hover {
      background: $purple;

      svg {
        color: $white;
      }
    }
  }

  &__header {
    color: $white;
    padding: 16px;
    border-bottom: 1px solid $primary-color;
  }

  &__title {
    font-family: Arial, Helvetica, sans-serif;
    color: $white;
    margin: 0;
  }

  &__footer {
    border-top: 1px solid $primary-color;
    padding: 1rem;
  }

  p {
    margin: 0 0 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Variants
  &--small {
    .modal__inner {
      @include breakpoint($medium) {
        max-width: 552px;
      }
    }
  }

  &--large {
    .modal__inner {
      @include breakpoint($medium) {
        max-width: 952px;
      }
    }
  }

  &--video,
  &--image {
    .modal {
      &__body {
        padding: 0;
      }
    }
  }

  &--image {
    .modal {
      &__inner {
        border: 1px solid rgba($primary-color, 0.3);
        max-width: 500px;
      }
    }
  }
}
