@import "../../styles/dependencies";

// Modal styles
.modal {
  .MuiModal-backdrop {
    background: rgba($black, 0.6);
  }

  &__inner {
    font-family: Arial, Helvetica, sans-serif; // TODO - update font family
    background-color: $grey;
    border-radius: 10px;
    color: $white;
    left: 50%;
    max-height: calc(100% - 32px);
    max-width: calc(100% - 32px);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include breakpoint($medium) {
      max-width: 744px;
    }
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
  }

  &__header {
    color: $white;
    padding: 1rem;
    border-bottom: 1px solid $primary-color;
  }

  &__title {
    font-family: Arial, Helvetica, sans-serif;
    color: $white;
    margin: 0;
  }

  &__body {
    padding: 1rem;
  }

  &__footer {
    border-top: 1px solid $primary-color;
    padding: 1rem;
  }

  p {
    margin: 0 0 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Variants
  &--small {
    .modal__inner {
      @include breakpoint($medium) {
        max-width: 552px;
      }
    }
  }

  &--large {
    .modal__inner {
      @include breakpoint($medium) {
        max-width: 952px;
      }
    }
  }

  &--video {
    .modal {
      &__body {
        padding: 0;
      }
    }
  }
}
