@import "../../styles/dependencies";

// Section title styles

.section-heading {
  background: rgba($color: $black, $alpha: 0.7);
  border-radius: 0 20px;
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;

  &__header {
    align-items: center;
    display: flex;
    padding: 0 10px;
  }

  .button {
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0 5px auto;

    .button__content::before {
      display: none;
    }
  }

  @include breakpoint($large) {
    padding: 10px;

    .button {
      font-size: 20px;
    }
  }

  // Variant

  &--no-background {
    background: none;
    padding: 0;

    .section-heading {
      &__header {
        padding: 0;
        margin-bottom: 20px;
      }
    }
  }
}
