@import "../../styles/dependencies";

// Carousel Styles

.carousel {
  &__item {
    background: none;
    border: 0;
    display: flex;
    height: 100%;
    margin: 0 10px;
    position: relative;
    text-align: left;

    .image {
      height: 100%;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__overlay {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__item-button {
    border: 0;
    background: none;
  }

  &__banner-content {
    display: none;
  }

  &__banner-content {
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
  }

  &__banner-details {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    padding: 0 20px;
    position: relative;
    width: 100%;

    h2 {
      position: relative;
      z-index: 10;
    }

    &::before {
      background: linear-gradient(rgba($black, 0), $black);
      bottom: 0;
      content: "";
      display: block;
      height: 100px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &__banner-poster {
    .image {
      margin-bottom: 0;
      width: 70px;

      @include hover {
        opacity: 1;
      }
    }

    @include breakpoint($medium) {
      .image {
        width: 150px;
      }
    }
  }

  // Overrides
  .react-multiple-carousel {
    &__arrow--right,
    &__arrow--left {
      display: none;
    }

    @include breakpoint($xlarge) {
      &__arrow--right,
      &__arrow--left {
        display: block;

        @include hover {
          background-color: $anakiwa;

          &:before {
            color: $black;
          }
        }
      }
    }

    @include breakpoint($xxxlarge) {
      &__arrow--right,
      &__arrow--left {
        display: block;
      }
      &__arrow--right {
        right: calc(-5% + 1px);
      }

      &__arrow--left {
        left: calc(-5% + 1px);
      }
    }
  }

  .react-multi-carousel-list {
    overflow: visible;
  }

  .react-multi-carousel-item {
    transition: opacity 0.4s ease;

    &:not(.react-multi-carousel-item--active) {
      opacity: 0.4;
      pointer-events: none;

      .card__cover,
      .carousel__overlay {
        display: none;
      }

      .add-to-favorites {
        display: none;
      }

      @include breakpoint($xlarge) {
        opacity: 0.1;
      }

      .card__overlay,
      .carousel__banner-button {
        display: none;
      }

      img {
        cursor: auto;
      }
    }
  }
}
