@import "../../styles/dependencies";

// Admin styles

.admin {
  margin-top: 40px;
}
// create some nice styles for the admin page and table
.admin__content {
  padding: 20px;
}

.admin__table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 12px 15px;
    border: 1px solid #eee;
  }
}
