@import "../../styles/dependencies";

// ai-media styles

.ai-media {
  margin-top: 20px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
  }

  &__title {
    color: $primary-color;
    margin-bottom: 0;

    svg {
      animation: icon-glow 4s ease-in-out infinite;
      margin: 0 10px;
    }
  }

  &__genres {
    margin: 10px 0;
    text-align: center;
  }

  &__genres-heading {
    color: $primary-color;
    margin-bottom: 5px;
  }

  &__generate-action {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .button__content {
      svg {
        animation: icon-glow 4s ease-in-out infinite;
      }
    }
  }

  &__toggle-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .button {
      margin: 0 10px;

      @include breakpoint($medium) {
        min-width: 200px;
      }
    }
  }

  &__selected-genres {
    text-align: center;
  }

  &__selected-genres-inner {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    text-align: left;

    @include breakpoint($medium) {
      max-width: 500px;
      min-width: 200px;
    }
  }

  &__selected-genres-message {
    text-align: center;
  }

  &__warning-message {
    margin-top: 20px;
  }

  &__list-wrapper {
    margin-top: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }

  &__list-item {
    width: 100%;
    // border-radius: 0 15px;
    // display: flex;
    // justify-content: center;
    // margin: 10px;

    // .button {
    //   border: 2px solid $primary-color;
    //   width: 100%;
    //   white-space: normal;
    // }

    // @include breakpoint($medium) {
    //   margin: 20px;
    // }
  }

  &__error {
    display: flex;
    justify-content: center;
  }
}
