// Video styles

.video {
  position: relative;

  // Variants
  &--responsive {
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */

    .video__player {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
