@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/typography";

@-ms-viewport {
  width: device-width;
}

// Print
@media print {
  @import "../../styles/print";
}

#root {
  background: $black;
}

// Layout styles
.main-wrapper {
  background: $background-color;
  height: 100%;
  overflow: hidden;
  min-height: calc(100vh - 145px);
  padding: 20px 0;
  position: relative;
}
