@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/typography";

@-ms-viewport {
  width: device-width;
}

// Print
@media print {
  @import "../../styles/print";
}

// Layout styles
.main-wrapper {
  background: $background-color;
  overflow: hidden;
  min-height: 100vh;
  padding: 20px 0;
  position: relative;
}
