@import "../../styles/dependencies";

// Search form styles

.search {
  display: flex;
  justify-content: center;
  margin: 5px 20px 10px;
  width: calc(100% - 20px);

  @include breakpoint($xlarge) {
    margin: 20px;
    width: 700px;
  }

  &__options {
    position: relative;
    width: 100%;
  }

  &__form {
    border: 1px solid $mid-grey;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__form-clear {
    position: absolute;
    right: 5px;
    top: 4px;

    svg {
      color: $primary-color;
    }

    @include breakpoint($xlarge) {
      right: 40px;
      top: 8px;
    }
  }

  .voice-input {
    position: absolute;
    top: 8px;
    right: 10px;
  }

  &__form-input {
    background-color: $grey;
    border: 0;
    color: $primary-color;
    font-size: 16px;
    padding: 10px;
    width: 100%;

    @include breakpoint($xlarge) {
      font-size: 18px;
    }

    &::placeholder {
      color: $primary-color;
    }

    &::-ms-input-placeholder {
      color: $primary-color;
    }

    @include hover {
      outline: none;
    }
  }

  .select {
    border: 1px solid $mid-grey;
    border-right: 0;
    border-radius: 5px 0 0 5px;

    &__control {
      border-radius: 4px 0 0 4px;
    }

    .select__menu {
      top: 35px;
    }

    @include breakpoint($large) {
      .select__menu {
        top: 42px;
      }
    }
  }
}
