@import "../../styles/dependencies";

// Log in styles

.login {
  svg {
    cursor: pointer;
    font-size: 30px;

    @include breakpoint($medium) {
      font-size: 35px;
    }
  }

  &__user-initials {
    align-items: center;
    background-color: $primary-color;
    border-radius: 50%;
    color: $black;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    height: 35px;
    width: 35px;
    padding-top: 4px;

    @include breakpoint($medium) {
      font-size: 22px;
      height: 40px;
      width: 40px;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 35px;

    @include breakpoint($medium) {
      width: 40px;
    }
  }
}
