// Footer Styles
@import "../../styles/variables";

.header {
  align-items: center;
  background: $black;
  display: flex;
  justify-content: center;
  width: 100%;

  h1 {
    color: $white;
    font-size: 20px;
    font-weight: lighter;
    margin: 0;
    padding: 10px;
  }
}
