// Footer Styles
@import "../../styles/dependencies";
@import "../../styles/animations";

.header {
  align-items: center;
  background: $black;
  display: flex;
  min-height: 81px;
  width: 100%;

  &__message {
    justify-content: center;
    max-height: 200px;
    overflow: hidden;
    transition: all 0.7s ease;
    padding-top: 1px;

    &--fade-out {
      border: 0;
      max-height: 0;
      opacity: 0;
      padding: 0;
    }

    p,
    button {
      margin: 0 0 0 auto;
    }
  }

  &__message-inner {
    border: 1px solid $primary-color;
    display: flex;
    padding: 5px 5px 5px 20px;
    position: relative;
    width: 100%;

    p {
      text-align: center;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    width: 100%;

    h1 {
      color: $white;
      font-size: 20px;
      font-weight: lighter;
      margin: 0;
      padding: 16px 0 17px;
      text-transform: capitalize;
    }
  }

  &__logo {
    .button {
      border-radius: 0;
      color: $primary-color;
      font-family: Anton, Arial, sans-serif;
      font-size: 27px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 40px;
      text-anchor: middle;
      transition: background 0.3s ease;

      @include hover {
        transition: all 0.3s ease;
        @extend .text-glow;
        animation: glow 2s ease-in-out infinite;
      }
    }
  }

  &__login {
    display: flex;
    justify-content: flex-end;

    @include breakpoint($large) {
      min-width: 85px;
    }
  }

  &--search-open {
    .header__logo,
    .header__login {
      overflow: hidden;
      width: 0;
    }
  }

  &--mobile {
    .header__inner {
      justify-content: flex-end;
    }
  }
}
