// Footer Styles
@import "../../styles/dependencies";

.header {
  align-items: center;
  background: $black;
  display: flex;
  min-height: 81px;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__logo {
    svg {
      cursor: pointer;
      font-size: 25px;

      @include breakpoint($medium) {
        font-size: 35px;
      }
    }
  }

  &__user-icon {
    svg {
      cursor: pointer;
      font-size: 25px;

      @include breakpoint($medium) {
        font-size: 35px;
      }
    }
  }

  &__user-icon-initials {
    background-color: $primary-color;
    border-radius: 50%;
    color: $black;
    padding: 5px;
  }

  &__user-icon-avatar {
    border-radius: 50%;
    width: 40px;
  }
}

// Move to navigation when built
.MuiPaper-elevation {
  border-left: 1px solid rgba($color: $primary-color, $alpha: 0.5);
}
