@import "../../styles/dependencies";

// resources styles
.resources {
  margin-top: 40px;

  &__count {
    h3 {
      color: $primary-color;
    }
  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 5px 0px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    padding: 40px 0;

    .MuiButtonBase-root,
    .MuiPaginationItem-text {
      color: $white;
      font-size: 20px;
    }

    .MuiButtonBase-root.Mui-selected {
      color: $black;
      background-color: $primary-color;
    }

    .MuiSvgIcon-root {
      font-size: 30px;
    }
  }
}
