// Home Page styles

.home-page {
  &__list {
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    width: 100%;
  }

  &__list-item {
    display: flex;
    margin: 10px;
    width: 100%;
  }

  .image-wrapper {
    min-width: 100px;
    max-width: 100px;

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}
