// Home Page styles

.home-page {
  ul {
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
  }
  li {
    display: flex;
    margin: 10px;
    width: 100%;
  }
  .image-wrapper {
    min-width: 100px;
    max-width: 100px;
    img {
      width: 100%;
      cursor: pointer;
    }
  }
}
