@import "../../styles/dependencies";

// Image styles

.image {
  align-items: center;
  display: flex;
  height: 100%;
  width: auto;

  img {
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    transition: scale 0.2s ease, border 0.2s ease;
    width: 100%;
  }

  // Variants
  &--xsmall {
    width: 50px;
  }

  &--small {
    width: 100px;
  }

  &--medium {
    width: 150px;
  }

  &--large {
    width: 250px;
  }

  &--mobile {
    width: 100%;
  }

  &--scale {
    img {
      @include hover {
        scale: 1.02;
      }
    }
  }

  &--banner {
    transition: opacity 0.2s ease;

    @include hover {
      opacity: 0.5;
    }
  }
}
