@import "../../styles/dependencies";

// Image styles

.image {
  align-items: center;
  display: flex;
  height: 100%;
  object-fit: cover;
  width: auto;
  transition: scale 0.3s ease-in-out;

  // Sizes
  &--xsmall {
    width: 40px;
  }

  &--small {
    width: 100px;
  }

  &--medium {
    width: 150px;
  }

  &--large {
    width: 250px;
  }

  &--fill {
    width: 100%;
  }

  &--mobile {
    width: 100%;
  }

  // Variants
  &--banner {
    pointer-events: none;
  }
}
