@import "../../styles/dependencies";

// Image styles

.image {
  align-items: center;
  display: flex;
  width: 100%;

  img {
    cursor: pointer;
    transition: scale 0.2s ease, border 0.2s ease;
    width: 100%;
  }

  // Variants
  &--xsmall {
    width: 35px;
  }

  &--small {
    width: 100px;
  }

  &--medium {
    width: 150px;
  }

  &--large {
    width: 250px;
  }

  &--scale {
    img {
      @include hover {
        scale: 2;
      }
    }
  }

  &--content {
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.5;
    }
  }
}
