@import "../../styles/dependencies";

// Search form styles

.search {
  direction: rtl;
  width: calc(100% - 40px);

  @include breakpoint($xlarge) {
    width: auto;
  }

  @include breakpoint($xlarge) {
    width: auto;
  }

  &__icon {
    display: none;
    margin-right: 20px;
  }
  &__container {
    direction: ltr;
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    width: calc(100% - 20px);

    @include breakpoint($xlarge) {
      margin: 5px 20px;
      width: 700px;
    }
  }

  &__options {
    width: 100%;

    @include breakpoint($medium) {
      position: relative;
    }
  }

  &__form {
    border: 1px solid $mid-grey;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__form-clear {
    position: absolute;
    right: 5px;
    top: 6px;

    svg {
      color: $primary-color;
    }
  }

  .voice-input {
    position: absolute;
    right: 30px;
    top: 7px;

    @include breakpoint($xlarge) {
      right: 5px;
      top: 8px;
    }
  }

  &__form-input {
    background-color: $grey;
    border: 0;
    color: $primary-color;
    font-size: 16px;
    padding: 10px 55px 10px 10px;
    width: 100%;

    @include breakpoint($xlarge) {
      font-size: 18px;
    }

    &::placeholder {
      color: $primary-color;
    }

    &::-ms-input-placeholder {
      color: $primary-color;
    }

    @include hover {
      outline: none;
    }
  }

  // Select overrides
  .select {
    border: 1px solid $mid-grey;
    border-right: 0;
    border-radius: 5px 0 0 5px;

    &__control {
      min-width: 70px;
      min-height: 38px;

      .select__value-container {
        padding: 0 0 0 10px;
      }

      @include breakpoint($xlarge) {
        min-height: 41px;
        min-width: 100px;
      }
    }

    .select__menu {
      top: 35px;
    }

    &__indicators {
      display: none;

      @include breakpoint($xlarge) {
        display: inline-flex;
      }
    }

    @include breakpoint($large) {
      .select__menu {
        top: 42px;
      }
    }
  }

  &--mobile {
    display: flex;

    .search {
      &__icon {
        display: flex;
      }
      &__container {
        width: 0;
        overflow: hidden;
        transition: width 0.3s ease;
      }
    }

    &.search {
      &--open {
        width: 100%;

        .search {
          &__container {
            margin: 0;
            width: 100%;
            overflow: visible;
          }

          &__icon {
            display: none;
          }
        }
      }
    }
  }
}
