@import "../../styles/dependencies";

// Search form styles

.search {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  position: relative;

  &__form {
    position: relative;
    width: 700px;

    .button--icon {
      display: none;
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }

  &__form-input {
    background-color: $grey;
    border: 0;
    color: $light-grey;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;

    @include hover {
      outline: none;
    }
  }

  &__options-list {
    background: $grey;
    border-radius: 0 0 10px 10px;
    left: 50%;
    list-style: none;
    margin-top: -15px;
    max-width: 700px;
    padding: 10px;
    position: absolute;
    top: 55px;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2000;
  }

  &__options-list-item {
    align-items: center;
    border-top: 1px solid $light-grey;
    cursor: pointer;
    color: $light-grey;
    display: flex;
    padding: 10px;
    transition: background 0.2s ease, color 0.2s ease;

    p {
      padding: 0;
      margin: 0;
    }

    .image {
      margin-right: 20px;
    }

    @include hover {
      background: #444;
      color: $black;
    }
  }
  &__options-list-item-year {
    font-size: 12px;
  }
}
